* {
    margin: 0;
    box-sizing: border-box;
}

#content {
    width: 100%;
    background-color: #336699;
    display: block;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#content.hiden-scrolling {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    position: absolute;
    width: 100%;
    left: 0; /* ? */
    top: 0; /* ? */
    z-index: 10;
    padding: 15px;
}

.container {
    max-width: 1300px;
    margin: auto;
    line-height: 1.5;
}

.header-main {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 4px;
}

.header .logo {
    padding: 0 15px;
    font-weight: 600;
}

.header .logo a {
    text-decoration: none;
    font-size: 30px;
    text-transform: capitalize;
    color: #003366;
}

.header .nav-menu {
    padding: 0 15px;
}

.header .menu > .menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.header .menu > .menu-item a {
    display: block;
    padding: 15px 0;
    color: #003366;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}

.header .menu > .menu-item:hover > a {
    color: #336699;
}

.header .menu > .menu-item > .sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 180px;
    position: absolute;
    background-color: white;
    padding: 10px 0;
    border-top: 3px solid #ffcc66;
    transform: translateY(10px);
    transition: all 0.2s ease;
    visibility: hidden;
    opacity: 0;
}

.header .menu > .menu-item:hover > .sub-menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

@media (min-width: 992px) {
    .header .menu > .menu-item-has-children:hover > .sub-menu {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    .header .menu > .menu-item-has-children:hover > a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .sub-menu > .menu-item > a {
    padding: 10px 20px;
    transition: all 0.3 ease;
}

.header .sub-menu > .menu-item > a:hover {
    color: #336699;
}

.header .menu > .menu-item > a .plus {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
    pointer-events: none;
}

.header .menu > .menu-item > a .plus::before,
.header .menu > .menu-item > a .plus::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: #003366;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.header .menu > .menu-item > a .plus::after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu > .menu-item:hover > a .plus::before,
.header .menu > .menu-item:hover > a .plus::after {
    background-color: #336699;
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: black;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span:after {
    bottom: -7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    margin: 0 0 15px 15px;
    border: solid 2px #05407a;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
}

.filter {
    filter: invert(15%) sepia(90%) saturate(1922%) hue-rotate(187deg)
        brightness(75%) contrast(110%);
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .header .nav-menu {
        position: fixed;
        right: -280px;
        top: 0;
        width: 250px;
        height: 100%;
        overflow-y: auto;
        background-color: #ffcc66;
        z-index: 20;
        padding: 15px 0;
        transition: all 0.3s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0;
    }

    .header .menu > .menu-item {
        display: block;
        margin: 0;
    }

    .header .menu > .menu-item-has-children > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu > .menu-item > a {
        color: #003366;
        padding: 12px 15px;
    }

    .header .menu > .menu-item > a .plus::before,
    .header .menu > .menu-item > a .plus::after {
        background-color: #003366;
    }

    .header .menu > .menu-item-has-children.active > a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .header .menu > .menu-item > .sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .header .menu > .menu-item > .sub-menu > .menu-item > a {
        padding: 12px 45px;
    }

    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}
